body {

    background-color: #F6F5EC;
    font-size: 14px;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;

}

h1 {

    font-family: Cursive;
    display: inline-block;
    font-style: italic;
    margin: 0;
    margin-left: 20px;
    font-size: 8vh;
    position: relative;
    bottom: 4vh;

}

.detail {

    background: #AB7C73;
    color: white;
    font-size: 15px;
    float:left;

}

.name {

    background: #AB7C73;
    color: white;
    font-size: 15px;
    width: 20%;

}

.nameTwo {

    background: #AB7C73;
    color: white;
    font-size: 15px;
    float: right;
    margin-right: 30%;

}

#direct {

    margin-left: 450px;
    background: #AB7C73;
    color: white;
    display: inline-block;
}

#menuProd {

    list-style: none;
    margin-top: 6vh;

}

#menuProd li {

    color: #fff;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 4vw;
    color: #AB7C73;
    float: right;

}

#menuProd li :hover {

    transition: 0.5s;
    font-size: 5vh;
    text-shadow: 2vh 2vh 3vh black;
    border: none;

}

#menuProd a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    color: #AB7C73;

}

#topMainProd {

    width: 100vw;
    height: 15vh;
    display: inline-block;

}

#topLeftProd {

    width: 38vw;
    height: 12vh;
    display: inline-block;

}

#topRightProd {

    width: 58vw;
    height: 12vh;
    display: inline-block;
    font-size: 3vh;

}

* {
    background-color: #E6DAD1;
}

.textfontProd {

    color: #AB7C73;
    font-family: Cursive;
    font-style: italic;

}

.applogosProd {

    width: 40px;
    height: 40px;

}

.textfontProd {

    display: inline-block;

}

.logoProd {

    margin-top: 1vh;
    margin-left: 1vw;
    max-width: 80px;
    max-height: 80px;

}

.logoProd img {

    max-width: 80px;
    max-height: 80px;
    display: block;
    float: left;
    margin: 0;

}

.titleProd img {

    margin-left: 2vw;
    max-width: 200px;
    max-height: 200px;
    display: block;
    margin-top: 4vh;
    margin-left: 8vw;

}

.impInfoProd {

    background-color: #AB7C73;
    width: 85vw;
    height: 70vh;
    margin: auto;
    margin-top: 2vh;
    padding: 27px;
    border: none;
    border-radius: 8px;
    margin-bottom: 2vh;

}

footer {

    width: 100vw;
    height: 20vh;
    background-color: #E6DAD1;
    margin: 0;
    padding: 0;

}

.myDivProd {

    margin: 0;
    margin-top: 150px;
    border: 10px double #E6DAD1;
    background-color: #E6DAD1;
    text-align: start;
    lenght: 100%;
    display: flex;
    justify-content: space-between;

}

.buttonProd {

    color: #AB7C73;

}

.bookPhoto {

    width: 20%;
    height: 60%;

}

.bookPhotoTwo {

    width: 20%;
    height: 60%;
    float: right;
    margin-right: 20%;

}

#detailTwo {

    background: #AB7C73;
    color: white;
    font-size: 15px;
    float:right;
    margin-right: 45px;

}